{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block content %}

<div class="bck">
  <div class="tablo">
      <h1 style="font-size: 96px;">Проект: Делай дело!</h1>
      <h1> Мы научим:</h1>
      <h3 style="text-align: left"><li>открывать ИП и оформлять самозанятость</li></h3>
      <h3 style="text-align: left"><li>разбираться в особенностях рынка</li></h3>
      <h3 style="text-align: left"><li>работать с маркетплейсами и зарабатывать на этом</li></h3>
      <h1> Проект поможет:</h1>
      <h3 style="text-align: left"><li>получать доход от любимого дела</li></h3>
      <h3 style="text-align: left"><li>делиться опытом и идеями с единомышленниками</li></h3>
      <h1> Наши приоритеты:</h1>
      <h3 style="text-align: left"><li>честность</li></h3>
      <h3 style="text-align: left"><li>ориентированность на Ваш успех</li></h3>
      <h1> На что живет проект:</h1>
      <h3 style="text-align: left"><li>% от Ваших продаж в маркетплейсах  ( в зависимости от тарифа )</li></h3>
      <h3 style="text-align: left"><li>Ваши пожертвования</li></h3>



  </div>
</div>

{% endblock content %}